<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank You For Registration</h1>
    <p>Here Are you New Account Details</p>
    <p>name: {{data.name}} </p>
    <p>password: {{data.password}} </p>
    
</body>
</html>

